  <div class="cover-photo">
    <% if (picture) { %>
      <img src="<%= picture[0].image_url%>"/>
    <% } %>
  </div>
  <br>
  <div class="summary">
    <h2 class="title"> <%= listing.get('title')%> </h2>
    <p class="address"><%= listing.get('address') %></p>
    <br>
    <div class="pricing">
      <p class="price">$<%= listing.get('price') %></p>
      <p class="day">Per Night </p>
    </div>
    <form class='reservation-form'>
      <div class='checkout-form group'>
        <br>
        <br>
        <input id='check-in' type="text" class="capacity-input" name=start_date placeholder="Start Date">
        <input id='check-out' type="text" class="capacity-input" name=end_date placeholder='End Date'>
        <div class="dropdown capacity-input">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Capacity
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            ...
          </ul>
        </div>
      </div>

      <div class='fee-row group'>
        <div class='fee-description'>
          <p><%=listing.get('price') %> x 9 Nights </p>
        </div>
        <div class='fee-price'>
          <p>$<%=listing.get('price') * 9 %>
        </div>
      </div>

      <div class='fee-row group'>
        <div class='fee-description'>
          <p>Cleaning fee</p>
        </div>
        <div class='fee-price'>
          <p>$70</p>
        </div>
      </div>

      <div class='fee-row group'>
        <div class='fee-description'>
          <p>Service fee</p>
        </div>
        <div class='fee-price'>
          <p>$84</p>
        </div>
      </div>

      <div class='fee-row group' id='last-fee-row'>
        <div class='fee-description'>
          <p>Total</p>
        </div>
        <div class='fee-price'>
          <p>$<%= listing.get('price') * 9 + 84 + 70 %></p>
        </div>
      </div>

      <div class='instant-book-btn'>
        <button type="button" class="btn btn-primary book-listing">Instant Book</button>
      </div>
    </div>
  </form>
        <br>
        <br>

  <div class=details>
    <div class=about-listing>
      <h3> About This Listing </h3>
      <p class="description"><%= listing.get('description') %></p>
    </div>
    <div class='image-container group'>
        <% if (picture) { %>
          <div class='image-one' style="background-image: url(<%= picture[1].image_url%>)"/>
        <% } %>
        <% if (picture) { %>
          <div class='image-two' style="background-image: url(<%= picture[2].image_url%>)"/>
        <% } %>
    </div>
  </div>
  <br>
  <!-- <div class=panel>
    <br>
    <p class="listing-comments"> Insert some comments here </p>
  </div> -->
