<div class="listing-container group">
  <div class="listing-index">
    <ul>
      <br>
    <% listings.each( function(listing) { %>
      <li class='listings'>
        <a href="#/listings/<%= listing.get('id') %>">
          <img class="listing-picture" src="<%= listing.attributes.images[0].image_url %>" />
        <!-- </a> -->
        <a href="#/listings/<%= listing.get('id') %>">
          <!-- listing.images()[0].image_url -->
          <!-- listing.attributes.images[0].image_url -->
          <%= listing.escape('title') %>
        </a>
        <p class=listing-description><%=listing.escape('address') %></p>
      </li>
    <% }) %>
    </ul>
  </div>
</div>
