<!-- <div class="listing-index"> -->
  <div class="filter-listings">
  </div>
  <ul>
    <br>
  <% listings.each( function(listing) { %>
    <li class='listings'>
      <a class='picture-container' href="#/listings/<%= listing.get('id') %>">
        <% if (listing.attributes.images) { %>
          <div class='price-tag'>
            <span class='listing-price-tag'> $<%= listing.get('price') %> </span>
          </div>
          <img class="listing-picture" src="<%= listing.attributes.images[0].image_url %>" />
        <% } %>
      </a>
      <div class="listing-descriptions">
        <a href="#/listings/<%= listing.get('id') %>">
          <%= listing.escape('title') %>
        </a>
        <p class=listing-description><%=listing.escape('address') %></p>
        <% if (listing.users().first()) { %>
          <div class='host-avatar' style="background-image: url(<%= listing.users().first().get('picture_url')%>)"/>
        <% } %>
        </div>
      </div>
    </li>
  <% }) %>
  </ul>
<!-- </div> -->
