<!DOCTYPE html>
<html>
<head>
  <title>disneyBnB</title>
</head>
<body>

<% if signed_in? %>
  Hello, <%= current_user.username %>!
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |err| %>
    <p>Error:</p>
    <%= err %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
